
.c-footer {
  padding-top: 10rem;
  text-align: center;
  color: #999;
  font-size: .8rem;
  padding-bottom: 10rem;
  background: #fff;

  ul {
    margin: 0 0 .5rem;
  }

  a {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 .25rem;
  }

  small {
    font-size: .7rem;
    opacity: .8;
  }
}
